<div>
  <h2 id="page-heading" data-cy="LeaveRequestHeading">
    <span jhiTranslate="leaveLinkApp.leaveRequest.home.title">Leave Requests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="leaveLinkApp.leaveRequest.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-leave-request"
        [routerLink]="['/leave-request/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="leaveLinkApp.leaveRequest.home.createLabel">Create a new Leave Request</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (leaveRequests?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="leaveLinkApp.leaveRequest.home.notFound">No Leave Requests found</span>
    </div>
  }

  @if (leaveRequests && leaveRequests.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="leaveLinkApp.leaveRequest.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="leaveLinkApp.leaveRequest.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fromDate">
              <div class="d-flex">
                <span jhiTranslate="leaveLinkApp.leaveRequest.fromDate">From Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="toDate">
              <div class="d-flex">
                <span jhiTranslate="leaveLinkApp.leaveRequest.toDate">To Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="leaveLinkApp.leaveRequest.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="department">
              <div class="d-flex">
                <span jhiTranslate="leaveLinkApp.leaveRequest.department">Department</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="changedAt">
              <div class="d-flex">
                <span jhiTranslate="leaveLinkApp.leaveRequest.changedAt">Changed At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employee.login">
              <div class="d-flex">
                <span jhiTranslate="leaveLinkApp.leaveRequest.employee">Employee</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (leaveRequest of leaveRequests; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/leave-request', leaveRequest.id, 'view']">{{ leaveRequest.id }}</a>
              </td>
              <td>{{ leaveRequest.title }}</td>
              <td>{{ leaveRequest.description }}</td>
              <td>{{ leaveRequest.fromDate | formatMediumDate }}</td>
              <td>{{ leaveRequest.toDate | formatMediumDate }}</td>
              <td [jhiTranslate]="'leaveLinkApp.LeaveStatus.' + (leaveRequest.status ?? 'null')">
                {{ { null: '', REQUESTED: 'REQUESTED', REJECTED: 'REJECTED', APPROVED: 'APPROVED' }[leaveRequest.status ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'leaveLinkApp.Department.' + (leaveRequest.department ?? 'null')">
                {{
                  { null: '', IT: 'IT', RH: 'RH', FINANCE: 'FINANCE', MARKETING: 'MARKETING', SALES: 'SALES' }[
                    leaveRequest.department ?? 'null'
                  ]
                }}
              </td>
              <td>{{ leaveRequest.changedAt | formatMediumDatetime }}</td>
              <td>
                {{ leaveRequest.employee?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/leave-request', leaveRequest.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/leave-request', leaveRequest.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(leaveRequest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (leaveRequests && leaveRequests.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
