<!-- app.component.html -->
<div class="app-container">
  <jhi-navbar></jhi-navbar>
  <div class="main-content">
    <!-- <div class="sidebar" *jhiHasAnyAuthority="'ROLE_ADMIN'">
      <ul>
        
            <li>
              <a class="dropdown-item" 
                 routerLink="/admin/user-management" 
                 routerLinkActive="active" 
                 [routerLinkActiveOptions]="{ exact: true }"
                 (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.userManagement">User management</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/leave-request"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.leaveRequest">Leave Request</span>
              </a>
            </li>
          
            
           
          </ul>
        
      
    </div> -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <jhi-footer></jhi-footer>
</div>
