<div>
  @if (account() !== null) {
    <!--  <div class="alert alert-success" *ngIf="showLoginMessage">
          @if (account()) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: account()!.login }">
              You are logged in as &quot;{{ account()!.login }}&quot;.
            </span>
          }
        </div>   -->
    <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
      <h2 id="home-admin-message">Welcome to the admin panel</h2>
      <!-- Add any admin-specific content here -->
    </ng-container>
    <ng-container *jhiHasAnyAuthority="'ROLE_USER'">
      <jhi-leave-request></jhi-leave-request>
    </ng-container>
  } @else {
    <div class="login-background">
      <div class="d-flex justify-content-center">
        <div class="login-container col-lg-6 col-md-8 col-sm-10">
          <jhi-login></jhi-login>
        </div>
      </div>
    </div>
  }
</div>
