<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-leave-request-heading"
        data-cy="LeaveRequestCreateUpdateHeading"
        jhiTranslate="leaveLinkApp.leaveRequest.home.createOrEditLabel"
      >
        Create or edit a Leave Request
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="leaveLinkApp.leaveRequest.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="leaveLinkApp.leaveRequest.title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="leaveLinkApp.leaveRequest.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fromDate" jhiTranslate="leaveLinkApp.leaveRequest.fromDate">From Date</label>
          <div class="input-group">
            <input
              id="field_fromDate"
              data-cy="fromDate"
              type="text"
              class="form-control"
              name="fromDate"
              ngbDatepicker
              #fromDateDp="ngbDatepicker"
              formControlName="fromDate"
            />
            <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('fromDate')!.invalid && (editForm.get('fromDate')!.dirty || editForm.get('fromDate')!.touched)) {
            <div>
              @if (editForm.get('fromDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_toDate" jhiTranslate="leaveLinkApp.leaveRequest.toDate">To Date</label>
          <div class="input-group">
            <input
              id="field_toDate"
              data-cy="toDate"
              type="text"
              class="form-control"
              name="toDate"
              ngbDatepicker
              #toDateDp="ngbDatepicker"
              formControlName="toDate"
            />
            <button type="button" class="btn btn-secondary" (click)="toDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('toDate')!.invalid && (editForm.get('toDate')!.dirty || editForm.get('toDate')!.touched)) {
            <div>
              @if (editForm.get('toDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="leaveLinkApp.leaveRequest.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <ng-container *ngIf="isAdmin; else nonAdminStatus">
              <option [ngValue]="null">{{ 'leaveLinkApp.LeaveStatus.null' | translate }}</option>
              <option *ngFor="let leaveStatus of leaveStatusValues" [value]="leaveStatus">
                {{ 'leaveLinkApp.LeaveStatus.' + leaveStatus | translate }}
              </option>
            </ng-container>

            <ng-template #nonAdminStatus>
              <option [value]="editForm.get('status')?.value">
                {{ 'leaveLinkApp.LeaveStatus.' + editForm.get('status')?.value | translate }}
              </option>
            </ng-template>
          </select>

          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <div *ngIf="editForm.get('status')?.errors?.required">
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_department" jhiTranslate="leaveLinkApp.leaveRequest.department">Department</label>
          <select class="form-control" name="department" formControlName="department" id="field_department" data-cy="department">
            <option [ngValue]="null">{{ 'leaveLinkApp.Department.null' | translate }}</option>
            @for (department of departmentValues; track $index) {
              <option [value]="department">{{ 'leaveLinkApp.Department.' + department | translate }}</option>
            }
          </select>
          @if (editForm.get('department')!.invalid && (editForm.get('department')!.dirty || editForm.get('department')!.touched)) {
            <div>
              @if (editForm.get('department')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_changedAt" jhiTranslate="leaveLinkApp.leaveRequest.changedAt">Changed At</label>
          <div class="d-flex">
            <input
              id="field_changedAt"
              data-cy="changedAt"
              type="datetime-local"
              class="form-control"
              name="changedAt"
              formControlName="changedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('changedAt')!.invalid && (editForm.get('changedAt')!.dirty || editForm.get('changedAt')!.touched)) {
            <div>
              @if (editForm.get('changedAt')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('changedAt')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_employee" jhiTranslate="leaveLinkApp.leaveRequest.employee">Employee</label>
          <select class="form-control" id="field_employee" data-cy="employee" name="employee" formControlName="employee" [disabled]="true">
            <option [ngValue]="currentUser">{{ currentUser?.login }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
